.sectors-menu {
  position: fixed;
  width: 300px;
  height: 100%;
  color: #555;
  z-index: 1000;
  overflow-y: scroll;
  background: #f7f6ef;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
  left: 80px;

  .sectors {
    padding: 0;
    overflow-y: scroll;

    li.sector {
      border-bottom: 1px solid #eee;

      a {
        color: #555;
        display: block;
        font-weight: 600;
        padding: 10px 15px;

        &:hover,
        &:focus {
          text-decoration: none;
          color: #555;
        }
      }
    }
  }
}

.framework-sectors-menu {
  padding-top: 5px;
  position: fixed;
  width: 18%;
  height: 95%;
  color: #555;
  z-index: 1000;
  overflow-y: auto;
  background: #fff;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
  top: 6%;
  left: 0;

  .sectors {
    padding: 0;
    overflow-y: auto;

    li.sector {
      border-bottom: 1px solid #eee;
      a {
        color: #cb181d;
        display: block;
        font-weight: 600;
        padding: 10px 15px;

        &:hover,
        &:focus {
          text-decoration: none;
          color: #cb181d;
        }
      }
    }
  }
}

.close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 1000;
  color: #555;
  display: block;
}

ul {
  list-style-type: none;
}

.filters-menu {
  height: 100%;
  top: 10em;
  left: 0;
}

.layers {
  padding: 20px 0 20px 18px;
  display: none;

  li {
    position: relative;
    display: block;
    width: 100%;

    label {
      color: #555;
      font-weight: normal;
      font-size: 12px;
      width: 80%;
      display: block;
      margin: 0 0 10px 20px;
      text-indent: -23px;
    }

    input[type='checkbox'],
    input[type='radio'] {
      margin-right: 5%;
    }
  }
}

.open-btn {
  position: fixed;
  color: #333;
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 5px;
  width: 32px;
  line-height: 2;
  font-size: 15px;
  text-align: center;
  top: 10px;
  display: none;
}

.framework-open-btn {
  position: fixed;
  color: #333;
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 5px;
  width: 32px;
  line-height: 2;
  font-size: 15px;
  text-align: center;
  top: 3em;
  left: 1em;
  display: none;
}

#sector-menu-1-wrapper .open-btn {
  left: 90px;
}

#sector-menu-2-wrapper .open-btn {
  left: 53%;
}

.sectors-menu-wrapper {
  position: fixed;
}

#sector-menu-2 {
  height: 100%;
  top: 0;
  left: 52%;
  display: none;
}
