{
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "extends": [
    "airbnb"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "strict": 0,
    "brace-style": 2
  },
  "plugins": [
    "jest"
],
  "parser": "babel-eslint",
  "globals": {
    "mapboxgl": true,
    "$": false
  }
}
