{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": ["airbnb", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["prettier"],
  "rules": {
    "no-param-reassign": [2, { 
      "props": false
  }]
  },
  "parser": "babel-eslint",
  "globals": {
    "mapboxgl": true,
    "$": false
  }
}
