.menu {
  width: 80px;
  background: #E74624;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0px;
  z-index: 1000;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
  
  ul {
    padding: 0;
    list-style-type: none;
    
    li a {
      display: block;
      width: 80px;
      line-height: 3.5;
      color: #fff;
      font-size: 20px;
      text-align: center;
    }
  }
}

.sign-out {
  position: absolute;
  bottom: 30px;
  left: 0;
  font-size: 18px;
  width: 80px;
  padding: 15px 0;
  display: block;
  color: #fff;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.sign-out:hover,
.sign-out:focus {
  color: #999;
}


.brand-title {
  color: #fff;
  font-size: 14px;
  position: absolute;
  bottom: 100px;
  left: 28px;
  display: block;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
}
.brand-icon {
  display: block;
  width: 80px;
  height: 70px;
  text-align: center;
  color: #ccc;
  margin-top: 10px;
  background: no-repeat center center;
  background-size: 70%;
  text-indent: -9999px;
}
.white {
  text-transform: uppercase;
}