.filter-selection {
    position: fixed;
    top: 4.5em;
    left: 19.5%;
    min-width: 30%;
    width: auto;
    max-width: 70%;
    padding: 8px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    font-size: 12px;
    background: white;
    .pre-text {
        color: dimgray;
    }
    div {
        display: inline;
    }
    .selections {
        color: #cb181d;
        display: inline;
    }
}