@charset "UTF-8";

body {
	background: #F7F7F7;
	top: 0;
	left: 0;
	color:#009688;
}


.logo {
	background-image: url('../img/gisida-logo.png');
	background-size: contain;
	width:100px;
	height:100px;
	position: relative;
}


#background {
	background: url(../img/mapspots.png) repeat 5% 5%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: -300;
}

#midground {
	background: url(../img/mapspots.png) repeat 20% 20%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: -200;
}

#foreground {
	background: url(../img/mapspots.png) repeat 90% 110%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: -100;
}