.logo {
  background-image: url('../img/gisida-logo.png');
  background-size: contain;
  width:100px;
  height:100px;
  position: relative;
}

/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto", serif;
  font-size: 26px;
  line-height: 1.4;
  padding-top: .5em;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  padding: 100px 0;
  background-position: 0 0;
}
section.module.parallax h1 {
  color: #009688;
  font-size: 40px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px white;
}
section.module.parallax-1 {
  background-image: url("../img/mapspots.png");
  background-color: #F7F7F7;
  background-size: 100%;
}

section.module.parallax-2 {
  background-image: url("../img/is02.jpg");
}
section.module.parallax-3 {
  background-image: url("../img/mapspots.png");
  background-color: #F7F7F7;
}

.imgshadow {
  box-shadow: 0px 15px 55px #cccccc;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 36px;
    line-height: 1.4;
    padding-top: .5em;
  }
  section.module h3 {
    font-size: 24px;
    line-height: 1.4;
    padding-top: 1.25em;
    padding-bottom:.5em;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax {
    padding: 90px 0;
  }
  section.module.parallax h1 {
    font-size: 80px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 80px;
  }
}
