.series {
  background: #fff;
  position: absolute;
  z-index: 1;
  border-radius: 5px;
  width: 150px;
  border: 2px solid rgba(0, 0, 0, 0.15);
  padding: 5px;
  right: 50px;
  top: 8px;
   
   label {
     color: #000;
     font-size: 14px;
   }
}
