.login {
  width: 100%;
  background: white;
  color: black;
  height: 100%;
  position: fixed;

  .brand-login {
    display: block;
    width: 200px;
    height: 200px;
    text-align: center;
    color: #ccc;
    background-size: 70%;
    text-indent: -9999px;
  }

  .framework-brand-login {
    width: 640px;
    height: 174px;
    display: block;
    text-align: center;
    color: #ccc;
    text-indent: -9999px;
  }

  .password-label {
    display: inline-block;
    font-weight: bold;
    color: #333;
    width: 100%;
    text-align: center;
    margin: 10px auto;
  }

  .form-control {
    margin: 0 auto;
    width: 50%;
  }

  .login-form {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

    .login input {
      background: rgba(0, 0, 0, 0.8);
    }
  }
}
