.login {
  width: 100%;
  background: white;
  color: black;
  height: 100%;
  position: fixed;

  .brand-login {
    display: block;
    width: 200px;
    height: 200px;
    text-align: center;
    color: #ccc;
    background-size: 70%;
    text-indent: -9999px;
  }

  .framework-brand-login {
    display: block;
    width: 200px;
    height: 100px;
    text-align: center;
    color: #ccc;
    background-size: 70%;
    text-indent: -9999px;
  }

  .password-label {
    display: inline-block;
    font-weight: bold;
    margin: 10px 0 5px 25px;
    color: #333;
  }

  .login-form {
    width: 200px;
    margin: 10% auto 0;

    .login input {
      background: rgba(0, 0, 0, 0.8);
    }
  }
}
